body {
    background: linear-gradient(to top, #000000, #00724a);
    margin: 0;
    padding: 0;
}


.editar-perfil-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.formulario-perfil {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-salvar {
    background-color: #1b3d1c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-editar {
    background-color: #1b3d1c78;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.btn-cancelar{
    background-color: #546c55c6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-salvar:hover {
  background-color: #29752d;
}

