body{
    margin-bottom: 50px;
}

#title-historic{
    color: #fff;
}

#title-historic h2{
    font-size: clamp(30px, 5vw, 25px); /*padrao de titulos*/
    padding-top: 50px;
    color: #ffffff;
    font-weight: 600;

    width: 90%;
    max-width: 700px;
    margin-left: 100px;
}

#title-historic p{
    font-size: clamp(2px, 2vw, 15px); /*padrao de titulos*/
    
    color: #ffffff;
    font-weight: 200;

    width: 90%;
    max-width: 700px;
    margin-left: 100px;
}

#listagem{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 25px;
    color:#fff;
    background-color: #00ff734f;
    border: 2px solid #00361862;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}

#box-plant{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 120%;
}

#image-plant img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #009141;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}

#info-plant{
    display: flex;
    flex-direction: column;
    
    max-width: 100%;
}

#title-plant h3{
    margin: 0;
    margin-bottom: 10px;
}

#description-plant p{
    margin: 0;
    max-width: 100%;
}

#button-seta img{
    max-width: 12%;
}

#button-seta{
    margin-top: 20px;
    max-width: 20%;
}

#button-seta p{
    display: flex;
    font-size: clamp(2px, 2vw, 8px);
    text-decoration: underline;
}
